In [13]:
import selenium
from selenium import webdriver
import pandas as pd
from datetime import date
#!pip install textblob
from textblob import TextBlob
import seaborn as sns
from selenium.webdriver.common.keys import Keys
from datetime import datetime

In [14]:
#pip install easygui
import easygui
ciudad= easygui.enterbox(msg="Introduzca Ciudad")
barrio= easygui.enterbox(msg="Introduzca Zona/Barrio")
comida= easygui.enterbox(msg="Introduzca Tipo de comida")#integerbox(msg="Introduzca Tipo de comida", upperbound=999)
print(ciudad, type(ciudad), comida, type(comida)) 
# Prints--> Bob <class 'str'> 150 <class 'int'>

Madrid <class 'str'> Hamburguesa <class 'str'>

In [15]:
browser = webdriver.Chrome()
browser.get('https://www.google.es/maps/search/Restaurantes+'+ciudad+'+'+barrio+'+'+comida+'/') # si queremos añadir una ciudad tenemos que meter "+Ciudad"
delay = 5 # seconds

In [16]:
botonaceptar = "//button[@class='VfPpkd-LgbsSe VfPpkd-LgbsSe-OWXEXe-k8QpJ VfPpkd-LgbsSe-OWXEXe-dgl2Hf nCP5yc AjY5Oe DuMIQc LQeN7 Nc7WLe']"
aceptar = browser.find_element("xpath",botonaceptar)
aceptar.click()

In [17]:
import ctypes
ctypes.windll.user32.MessageBoxW(0, "Please go to the google Chrome page and scroll down the left tab until all the restaurants are loaded", "Action Neccesary", 48)

## Button styles:
# 0 : OK
# 1 : OK | Cancel
# 2 : Abort | Retry | Ignore
# 3 : Yes | No | Cancel
# 4 : Yes | No
# 5 : Retry | No 
# 6 : Cancel | Try Again | Continue

## Icon styles
# 16 Stop-sign icon
# 32 Question-mark icon
# 48 Exclamation-point icon
# 64 Information-sign icon consisting of an 'i' in a circle

1

In [18]:
num=len(browser.find_elements("xpath","//div[@class='Nv2PK THOPZb CpccDe']"))
print(num)

list_pais=[]
for i in range(0,num):
    titular=browser.find_elements("xpath","//div[@class='Nv2PK THOPZb CpccDe']")[i].text
    list_pais.append(titular)

dfMaps=pd.DataFrame(list_pais)
dfMaps['origen']='Maps'
dfMaps

70

                                                    0 origen
0   Roost Chicken\nAnuncio 4,7(625)\nRestaurante ·...   Maps
1   MERCATO BALLARÓ\nAnuncio 4,3(1.180) · €€\nItal...   Maps
..                                                ...    ...
68  Cafetería Bar Norte\n4,4(208) · €\nBar · C. St...   Maps
69  Pantín Grill\n4,7(786) · €\nHamburguesa · Call...   Maps

[70 rows x 2 columns]

In [19]:
pd.set_option('display.max_rows', 4)

fecha=datetime.now().strftime("%d_%m_%Y")
hora=datetime.now().strftime("%H")
dfMaps_Columns = dfMaps[0].str.split('\n', expand=True)
dfMaps_Columns[['rating','reviews']] = dfMaps_Columns[1].str.split('(',1,expand=True)
dfMaps_Columns[['reviews','price']]  = dfMaps_Columns['reviews'].str.split("\)",1,expand=True)
dfMaps_Columns[['price']]            = dfMaps_Columns[['price']].replace('·',value='',regex=True)
dfMaps_Columns['ciudad']           = ciudad
dfMaps_Columns['comida']           = comida
dfMaps_Columns['zona']             = barrio
dfMaps_Columns[0] = dfMaps_Columns[0].replace(u"\U0001F354",value="", regex=True)
dfMaps_Columns['nombre'] = dfMaps_Columns[0].replace(u"\U0001F35F",value="", regex=True)
dfMaps_Columns['fecha']=fecha
dfMaps_Columns['hora']=hora

dfMaps_Columns

,0,1,2,3,4,5,6,7,8,9,10,rating,reviews,price,ciudad,comida,zona,nombre,fecha,hora
0,Roost Chicken,"Anuncio 4,7(625)","Restaurante · Calle de San Andrés, 26",Restaurante informal con platos de pollo frito,Abierto ⋅ Cierra a las 17:00 ⋅ Próxima apertur...,Comer allí,·,Recogida sin entrar,·,Entrega sin contacto,RESERVAR UNA MESA,"Anuncio 4,7",625,,Madrid,Hamburguesa,La elipa,Roost Chicken,22_08_2022,13
1,MERCATO BALLARÓ,"Anuncio 4,3(1.180) · €€","Italiana · Calle de Sta Engracia, 24",Luminosa pizzería siciliana con terraza,Abierto ⋅ Cierra a las 0:30,Comer allí,·,Recogida sin entrar,·,Entrega sin contacto,None,"Anuncio 4,3",1.180,€€,Madrid,Hamburguesa,La elipa,MERCATO BALLARÓ,22_08_2022,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
68,Cafetería Bar Norte,"4,4(208) · €","Bar · C. Sta. Prisca, 9",Abierto ⋅ Cierra a las 0:00,Comer allí,·,Para llevar,·,No hay entrega a domicilio,RESERVAR UNA MESA,None,"4,4",208,€,Madrid,Hamburguesa,La elipa,Cafetería Bar Norte,22_08_2022,13
69,Pantín Grill,"4,7(786) · €","Hamburguesa · Calle de Echegaray, 10",Restaurante de hamburguesas contundentes,Cerrado ⋅ Apertura: 13:00 (mar),"""Hay una gran variedad de hamburguesas y tod...",RESERVAR UNA MESA,None,None,None,None,"4,7",786,€,Madrid,Hamburguesa,La elipa,Pantín Grill,22_08_2022,13

In [20]:
#filter= dfMaps_Columns[dfMaps_Columns[0]=='La Prensa Burgers & Beers']
#filter

In [21]:
col_list = ['nombre', 1,2,'rating','reviews','price',"ciudad","comida","zona","fecha","hora"] #3,4,5, excluimos esas dos columnas
dfMaps_Columns_selected = dfMaps_Columns[col_list]
dfMaps_Columns_selected

,nombre,1,2,rating,reviews,price,ciudad,comida,zona,fecha,hora
0,Roost Chicken,"Anuncio 4,7(625)","Restaurante · Calle de San Andrés, 26","Anuncio 4,7",625,,Madrid,Hamburguesa,La elipa,22_08_2022,13
1,MERCATO BALLARÓ,"Anuncio 4,3(1.180) · €€","Italiana · Calle de Sta Engracia, 24","Anuncio 4,3",1.180,€€,Madrid,Hamburguesa,La elipa,22_08_2022,13
...,...,...,...,...,...,...,...,...,...,...,...
68,Cafetería Bar Norte,"4,4(208) · €","Bar · C. Sta. Prisca, 9","4,4",208,€,Madrid,Hamburguesa,La elipa,22_08_2022,13
69,Pantín Grill,"4,7(786) · €","Hamburguesa · Calle de Echegaray, 10","4,7",786,€,Madrid,Hamburguesa,La elipa,22_08_2022,13

In [22]:
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@127.0.0.1/{db}"
                       .format(user="root",
                               pw="MariaDB1.2.3",
                               db="restaurants_maps"))

dfMaps_Columns_selected.to_sql('restaurants', con=engine,if_exists='append', chunksize=1000)

70

In [23]:
#dfMaps_Columns_selected.to_csv('Ficheros/'+ciudad+'&'+barrio+'&'+comida+'&'+fecha+'&'+hora+'.csv' 
#                                ,sep='¬'
#                                ,header=True)

In [24]:
ctypes.windll.user32.MessageBoxW(0, "File has been generated successfully", "Thanks for your patience", 48)

1