In [1]:
%pip install mariadb

Collecting mariadb
  Downloading mariadb-1.1.4-cp310-cp310-win_amd64.whl (190 kB)
     -------------------------------------- 190.9/190.9 KB 5.8 MB/s eta 0:00:00
Installing collected packages: mariadb
Successfully installed mariadb-1.1.4
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 22.2.2 is available.
You should consider upgrading via the 'c:\Users\vir_d\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [11]:
# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="MariaDB1.2.3",
        host="127.0.0.1",
        port=3306,
        database="restaurants_maps"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

In [15]:
# Module Imports
import mariadb
import sys

# Connect to MariaDB Platform
try:
    conn = mariadb.connect(
        user="root",
        password="MariaDB1.2.3",
        host="127.0.0.1",
        port=3306,
        database="restaurants_maps"

    )
except mariadb.Error as e:
    print(f"Error connecting to MariaDB Platform: {e}")
    sys.exit(1)

# Get Cursor
cur = conn.cursor()

try: 
    cur.execute("INSERT INTO restaurantes (id local , Nombre Restaurante) VALUES (?, ?)", ("Maria","DB")) 
except mariadb.Error as e: 
    print(f"Error: {e}")

conn.close()

Error: Unknown prepared statement handler (4294967295) given to mysqld_stmt_execute

In [14]:

def add_data(Resume, Detalle):
    try:
        statement = "INSERT INTO employees (first_name,last_name) VALUES (%s, %s)"
        data = (Resume, Detalle)
        cur.execute(statement, data)
        conn.commit()
        print("Successfully added entry to database")
    except mariadb.Error as e:
        print(f"Error adding entry to database: {e}")

add_data("Kofi", "Doe")

Error adding entry to database: Invalid connection or not connected

In [17]:
conn = mariadb.connect(
        user="root",
        password="MariaDB1.2.3",
        host="127.0.0.1",
        port=3306,
        database="restaurants_maps")
cursor = conn.cursor()

cursor.execute("CREATE TABLE test (id INT UNSIGNED AUTO_INCREMENT PRIMARY KEY, descrition VARCHAR(100), completed BOOLEAN NOT NULL DEFAULT 0)")

In [25]:
cursor.execute("CREATE TABLE tasks (id INT UNSIGNED AUTO_INCREMENT PRIMARY KEY, description VARCHAR(100), completed BOOLEAN NOT NULL DEFAULT 0)")

In [27]:
cursor.execute("INSERT INTO tasks VALUES('New Task')")

OperationalError: Column count doesn't match value count at row 1

Intentando subir los datos con sqlalchemy

In [2]:
from sqlalchemy import create_engine

In [3]:
# Import modules
import pandas as pd

# Create dataframe
data=pd.DataFrame({
    'book_id':[12345,12346,12347],
    'title':['Python Programming','Learn MySQL','Data Science Cookbook'],
    'price':[29,23,27]
})

data

   book_id                  title  price
0    12345     Python Programming     29
1    12346            Learn MySQL     23
2    12347  Data Science Cookbook     27

In [13]:
import pymysql
from sqlalchemy import create_engine

engine = create_engine("mysql+pymysql://{user}:{pw}@127.0.0.1/{db}"
                       .format(user="root",
                               pw="MariaDB1.2.3",
                               db="restaurants_maps"))
data.to_sql('test1', con=engine,if_exists='append', chunksize=1000)

3

In [6]:
import mariadb
import sys

conn = mariadb.connect(
        user="root",
        password="MariaDB1.2.3",
        host="127.0.0.1",
        port=3306,
        database="restaurants_maps")

data.to_sql('restaurants_maps', con=conn,if_exists='append', chunksize=1000)

DatabaseError: Execution failed on sql 'SELECT name FROM sqlite_master WHERE type='table' AND name=?;': Table 'restaurants_maps.sqlite_master' doesn't exist