In [5]:
list = {"timeseries":{"129838":{"fecha1":{"v":"3.0"},"fecha2":{"v":"3.0"},"fecha3":{"v":"3.0"}},"132521":{"fecha4":{"v":"3.0"},"fecha5":{"v":"3.0"},"fecha6":{"v":"3.0"}}}}

In [9]:
import pandas as pd
df = pd.json_normalize(list)
df

,timeseries.129838.fecha1.v,timeseries.129838.fecha2.v,timeseries.129838.fecha3.v,timeseries.132521.fecha4.v,timeseries.132521.fecha5.v,timeseries.132521.fecha6.v
0,3.0,3.0,3.0,3.0,3.0,3.0

In [20]:
df_pivotado = pd.melt(df, var_name='column1', value_name='values')
df_pivotado

                      column1 values
0  timeseries.129838.fecha1.v    3.0
1  timeseries.129838.fecha2.v    3.0
2  timeseries.129838.fecha3.v    3.0
3  timeseries.132521.fecha4.v    3.0
4  timeseries.132521.fecha5.v    3.0
5  timeseries.132521.fecha6.v    3.0

In [21]:
df_pivotado[['timeseries','numero','fecha','v']]= df_pivotado['column1'].str.split('.',-1,expand=True)
df_pivotado

                      column1 values  timeseries  numero   fecha  v
0  timeseries.129838.fecha1.v    3.0  timeseries  129838  fecha1  v
1  timeseries.129838.fecha2.v    3.0  timeseries  129838  fecha2  v
2  timeseries.129838.fecha3.v    3.0  timeseries  129838  fecha3  v
3  timeseries.132521.fecha4.v    3.0  timeseries  132521  fecha4  v
4  timeseries.132521.fecha5.v    3.0  timeseries  132521  fecha5  v
5  timeseries.132521.fecha6.v    3.0  timeseries  132521  fecha6  v